/**
 * @file
 * Default theme implementation for Commerce Multistore components
 *
 */


.multistore {
  --green: green;
  --red: red;
}

.multistore__label {
  font-weight: bold;
  padding: 0 5px;
}

.multistore__label--global-default {
  border-top: 2px solid var(--red);
  border-left: 2px solid var(--red);
}

.multistore__label--owner-default {
  border-bottom: 2px solid var(--green);
  border-right: 2px solid var(--green);
}

.multistore--meta-data {
  font-size: 80%;
}

.multistore__global-default:before,
.multistore__owner-default:after {
  content: '√';
  font-size: 150%;
  font-weight: bold;
}

.multistore__global-default:before {
  color: var(--red);
}

.multistore__owner-default:after {
  color: var(--green);
}

.multistore__owner-default {
  float: right;
}



