{#
/**
 * @file
 * Theme override for a store type name.
 *
 * Available variables:
 * - attributes: settings for the container.
 *   - global: The text label for a global store type limit.
 *   - owner: The text label for an owner's store type limit.
 * - content_attributes: The array of the following elements:
 *   - type: The store name item type.
 *   - title: The name of a store.
 *   - url: The Url object for the store's name.
 *
 * The formatter might be used in views to display both the global and owner's
 * store type limit.
 */
#}
{% set global_class = attributes.global ? ' multistore__label--global-limit' : '' %}
{% set owner_class = attributes.owner ? ' multistore__label--owner-limit' : '' %}
<div class="multistore">
  {% if attributes.global %}
  <span class="multistore__global-limit multistore--meta-data">
    {{ attributes.global }}
  </span>
  {% endif %}
  <div{{ attributes.setAttribute('class', 'multistore__label' ~ global_class ~ owner_class) }}>
    {{ content_attributes.type == "link" ? link(content_attributes.title, content_attributes.url) : content_attributes.title }}
  </div>
  {% if attributes.owner %}
  <span class="multistore__owner-limit multistore--meta-data">
    {{ attributes.owner }}
  </span>
  {% endif %}
</div>
